* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #cf5c36;
    color: #cf5c36;
  }
  
  .contenedor {
    width: 300px;
    margin: 20px;
    background: #eeede8;
    padding: 20px;
  }
  
  form p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  input[type="text"]{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
  }
  
  form .btn {
    width: 100%;
    background: #cf5c36;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    display: incline-block;
    text-decoration: none;
  }